@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Ubuntu:wght@400;500;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.opensans {
  font-family: "Open Sans", sans-serif;
}

/*----------------Calendar css here ---------------------*/

.react-calendar{
  width:330px;
  height:290px;
  font-family:"Open Sans", sans-serif;
  border:none;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}


.react-calendar__month-view{
  width:280px;
  margin-top:40px;

}
.react-calendar__year-view,
.react-calendar__decade-view,
.react-calendar__century-view{
  margin-top:40px;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar__navigation {
  display: flex;
  position:absolute;
  top:30px;
  height: 22px;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #F6F5FE;
  border-radius: 20px;
}
.react-calendar__navigation button[disabled] {
  background-color: #F6F5FE;
  border-radius: 20px;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
  color: #EA9B9B;
 
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 1.4em 0.3em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #F6F5FE;
 
}

.react-calendar__tile--active {
  background: #7751E8;
  color: white;
  
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #7751E8;
 
}
.react-calendar__tile--hover {
  background-color: #F6F5FE;
  color:black;
  

}
